html {
    font-family: Verdana, sans serif;
    color: #fff;
    text-align: center;
    background-color: #000;
}

/* Top Title */

.top-title {
    font-size: 50px;
    font-weight: normal;
}

.download-link a {
    color: aquamarine;
    font-size: 16px;
}

/* iPhone Video */

.video {
    padding-top: 25px;
}

.middle-title p {
    font-weight: 300;
    font-size: 42px;
}

.second-title p {
    font-size: 21px;
    color: gray;
}

/* Coming Soon */

.phone-pic img {
    padding-top: 20px;
}


.bottom-title p {
    font-weight: 300;
    font-size: 42px;
}

.copyright p {
    float: right;
    display: block;
    color: grey;
    text-align: right;
}